.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/167380.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 978px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  line-height: 1.2;
  text-transform: none;
  animation-duration: 1000ms;
  font-weight: 700;
  font-family: Merriweather, serif;
  width: 717px;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 165px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  font-family: "Baloo Chettan 2";
  font-weight: 700;
  width: 581px;
  margin: 67px auto 0;
}

.u-section-1 .u-text-3 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-family: "Asap Condensed";
  font-weight: 700;
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 85px 27px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 153px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1;
    font-size: 4.5rem;
    width: auto;
    margin-top: 171px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 178px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 59px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 479px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 89px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 300;
  width: 780px;
  margin: 58px auto 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 50px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 {
  min-height: 318px;
  background-image: url("images/s-l3001.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 318px;
}

.u-section-3 .u-text-1 {
  line-height: 1.3;
  font-size: 3rem;
  width: 700px;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 84px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 779px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1167px;
  margin: 35px -27px 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 657px;
}

.u-section-4 .u-container-layout-1 {
  transition-duration: 0.5s;
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  font-size: 3rem;
  margin: 13px 40px 0 80px;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 66px 33px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 657px;
  animation-duration: 1000ms;
  transition-duration: 0.25s;
}

.u-section-4 .u-image-1 {
  background-image: url("images/7e6525194acaa2bfe62df822fe2fe30d.jpg");
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  margin: -100px auto 52px 141px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 7px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 529px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 0;
    margin-left: 128px;
    padding: 6px 31px 6px 30px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1246px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 608px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 55px;
    margin-left: auto;
    margin-bottom: 52px;
  }
}.u-section-5 {
  background-image: url("images/8180c35c614f7fd823b4095c869311da--jdm-sticker1.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 612px;
}

.u-section-5 .u-text-1 {
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  font-family: "Asap Condensed";
  font-size: 3.75rem;
  margin: 45px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 426px;
  width: 923px;
  margin: 30px 85px 45px auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  padding: 88px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  padding: 88px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  padding: 88px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-5 .u-gallery-1 {
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-gallery-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-gallery-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 779px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1167px;
  margin: 43px -27px 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 657px;
}

.u-section-6 .u-container-layout-1 {
  transition-duration: 0.5s;
  padding: 30px 0;
}

.u-section-6 .u-text-1 {
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  font-size: 3rem;
  margin: 13px 40px 0 80px;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  background-image: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 66px 33px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 657px;
  animation-duration: 1000ms;
  transition-duration: 0.25s;
}

.u-section-6 .u-image-1 {
  background-image: url("images/1998001_1994_Supra_Turbo-1500x972-1-scaled.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  margin: -130px auto 60px 159px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 7px;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 529px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 0;
    margin-left: 128px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1246px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 608px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 55px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}.u-section-7 {
  background-image: url("images/91AXmCQSMZL._AC_SL1500_.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 523px;
}

.u-section-7 .u-group-1 {
  width: 943px;
  min-height: 449px;
  margin: 59px auto 15px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 37px 185px 0 120px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 102px auto 0 300px;
  padding: 11px 24px 11px 23px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-7 .u-group-1 {
    width: 940px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 118px;
    margin-right: 183px;
  }

  .u-section-7 .u-btn-1 {
    height: 50px;
    margin-left: 296px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 28px;
    margin-right: 93px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 116px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 44px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 112px;
    margin-left: auto;
  }
}